body {
  background-color: #d9dcd6;
}

.media {
  margin: 20px 20px 20px 20px;
}

.jumbotron {
  padding: 0px;
}

#introduction {
  margin: 40px 40px 40px 0px;
}

#introtext {
  padding-left: 40px;
}

#profile {
  padding-left: 20px;
  margin-bottom: 40px;
}

.card-img-top {
  object-fit: cover;
}

.projectCard {
  margin-bottom: 10px;
}

#projects,
#skills,
#about,
#contact,
#formcontainer {
  margin-bottom: 30px;
}

.GHlink {
  text-decoration: none;
  color: black
}

a:hover {
  color: black;
  text-decoration: none;
}

#subHeading {
  margin-bottom: 20px;
}

#social {
  margin-top: 25px;
  margin-bottom: 30px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 75px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  margin: 5px 5px 5px 5px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  margin: 5px 5px 5px 5px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  margin: 5px 5px 5px 5px;
}

.fa-instagram {
  background: #125688;
  color: white;
  margin: 5px 5px 5px 5px;
}

#formcontainer {
  background: url("../images/blue-pattern.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
}

form {
  width: 500px;
  margin: 35px auto;
  padding: 45px;
  border: 1px solid #f2f2f2;
  background-color: white;
}

.btn-primary {
  background-color: #043444;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 4px rgb(4, 52, 68), 0 0 20px rgb(4, 52, 68);
  -moz-box-shadow: 0 1px 4px rgb(4, 52, 68), 0 0 20px rgb(4, 52, 68);
  box-shadow: 0 1px 4px rgb(4, 52, 68), 0 0px 20px rgb(4, 52, 68);
  border: 1px solid rgb(4, 52, 68)
}

.btn-primary:hover {
  background-color: #d9dcd6;
  border: none;
}